name: Secret scan

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    gitleaks-scan:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Run gitleaks
              uses: zricethezav/gitleaks-action@v2
              with:
                  # fail workflow on leaks
                  args: --redact -v
